.ProductComponent1{
    width: 250px;
    height: 400px;
    padding: 10px;
    margin: 1rem;
    box-shadow: 7px 10px 12px -5px rgba(0,0,0,0.56);
    text-align: center;
    background-color: lightblue;
    border-radius:3px ;
}

.productImg{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 230px;
    border-radius: 3px;
    margin-bottom: 1px;
}

.product-img:hover{
    transform: scale(1.25);
}

